<div class="container">
    <router-outlet></router-outlet>
    <button *ngIf="activatedRoute.children.length === 0" mat-raised-button color="primary"
        routerLink="add-customer-account/{{customerId}}">
        <mat-icon>add</mat-icon>
        <span>Add Account</span>
    </button>
    <router-outlet></router-outlet>

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="customerAccounts">
        <ng-container matColumnDef="name">
            <mat-header-cell class="text-break" *matHeaderCellDef>Name</mat-header-cell>>
            <mat-cell class="text-break" *matCellDef="let customerAccount">{{customerAccount.customer.name}}</mat-cell>>
        </ng-container>
        <ng-container matColumnDef="accountNumber">
            <mat-header-cell class="text-break" *matHeaderCellDef>Account Number</mat-header-cell>>
            <mat-cell class="text-break" *matCellDef="let customerAccount">{{customerAccount.accountNumber}}</mat-cell>>
        </ng-container>
        <ng-container matColumnDef="accountType">
            <mat-header-cell class="text-break" *matHeaderCellDef>Account Type</mat-header-cell>>
            <mat-cell class="text-break" *matCellDef="let customerAccount">{{customerAccount.accountType}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="currency">
            <mat-header-cell class="text-break" *matHeaderCellDef>Currency</mat-header-cell>>
            <mat-cell class="text-break" *matCellDef="let customerAccount">{{customerAccount.currency}}</mat-cell>>
        </ng-container>
        <ng-container matColumnDef="currentBalance">
            <mat-header-cell class="text-break" *matHeaderCellDef>Current Balance</mat-header-cell>>
            <mat-cell class="text-break"
                *matCellDef="let customerAccount">{{customerAccount.currentBalance}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="accountOpenDate">
            <mat-header-cell class="text-break" *matHeaderCellDef>Account Open Date</mat-header-cell>>
            <mat-cell class="text-break"
                *matCellDef="let customerAccount">{{customerAccount.accountOpenDate}}</mat-cell>>
        </ng-container>
        <ng-container matColumnDef="accountAction">
            <mat-header-cell class="text-break" *matHeaderCellDef>Action</mat-header-cell>>
            <mat-cell *matCellDef="let customerAccount">
                <button mat-icon-button color="primary"
                    routerLink="update-customer-account/{{customerAccount.customer.customerId}}/{{customerAccount.customerAccountId}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-label class="text-danger bg-warning">{{responseMessage}}</mat-label>
</div>