.card-body{
    background-color: lightyellow ;

}
.form-title {
    color:darkred;

}
.section-title{
    font-weight: bold;
    color: darkblue;
}
.form-field{
    margin-right:1.5rem;
    margin-bottom: 0.5rem;
width: 13rem;
border-radius: 1rem;
}
.form-field-mat-label{
    
color: black;
}
.btn{
    background-color: darkblue;
    margin-bottom: 1rem;
}
