



<div class="card-body ">
  <form [formGroup]="customerAccountUpdateForm" (ngSubmit)="onUpdate(customerAccount.customer.customerId,customerAccount.customerAccountId)">
    <h2 class="form-title text-center pt-2">Update Customer Account</h2>
    <div class="container">
            <div class="row justify-content-center">

        <mat-form-field class="form-field" appearance="outline">
          <mat-label class="form-field-mat-label">Customer Name</mat-label>
          <input matInput  value=" {{customerAccount.customer?.name}}" disabled>                      
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label  class="form-field-mat-label">Account Type</mat-label>
          <input matInput  value=" {{customerAccount.accountType}}" disabled>                      
        </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label >Current Balance</mat-label>
                <input matInput  type="number" placeholder="Enter your current balance" min="1000" max="1000000000" formControlName="currentBalance" >       
                  <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['required']">    
                    Current balance is required.
                  </mat-error>
                  <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['min']">    
                    Enter balance more than 1000.
                  </mat-error> <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['max']">    
                    Enter balance less than 1000000000.
                  </mat-error>
              </mat-form-field>
              <mat-hint class="text-danger text-center fst-italic">You can update only balance.</mat-hint>

</div>      
    <div class="col-lg-12  text-end ">
      <button class="btn  btn-success " type="submit" >Update</button>  <!--[disabled]="!customerForm.valid"-->
  </div>
  </div>
  </form>

</div>