<form [formGroup]="customerAccountUpdateForm" (ngSubmit)="onUpdate(customerAccount.customer.customerId,customerAccount.customerAccountId)">
  <h2 mat-dialog-title class="form-title text-center bg-success text-white ">Update Customer Account</h2>
  <mat-dialog-content   >    
    <div class="container">
          <div class="row  mt-2 mb-2 ">
            <mat-form-field class="form-field col-sm-4" appearance="outline" mat-danger>
              <mat-label class="form-field-mat-label">Customer Name</mat-label>
              <input matInput  value=" {{customerAccount.customer?.name}}" disabled>                      
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline" mat-danger>
              <mat-label  class="form-field-mat-label">Account Type</mat-label>
              <input matInput  value=" {{customerAccount.accountType}}" disabled>                      
            </mat-form-field>

            <mat-form-field class="form-field col-sm-4" appearance="outline" mat-danger>
              <mat-label >Current Balance</mat-label>
              <input matInput  type="number" placeholder="Enter your current balance" min="1000" max="1000000000" formControlName="currentBalance" >       
                <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['required']">    
                  Current balance is required.
                </mat-error>
                <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['min']">    
                  Enter balance more than 1000.
                </mat-error> <mat-error *ngIf="customerAccountUpdateForm.controls['currentBalance'].errors?.['max']">    
                  Enter balance less than 1000000000.
                </mat-error>
            </mat-form-field>            
          </div>
          <mat-hint class="text-danger text-center fst-italic">You can update only balance.</mat-hint>
         
          </div>         
  </mat-dialog-content >  
  <mat-dialog-actions class=" container justify-content-end border border-1  " style="bottom:0; max-width: 100%;z-index: 1000;">
    <button mat-raised-button class="bg-danger text-white" mat-dialog-close>Cancle</button>
    <button mat-raised-button  type="submit" class="mat-submit-button text-white " color="primary"  style="margin-right: 1.5rem;">Update</button>
  </mat-dialog-actions> 
  </form>