
<div class="card-body ">
  <form  [formGroup]="customerAccountForm" (ngSubmit)="onSubmit()">
    <h2 class="form-title text-center pt-2">Customer Account Registration Form</h2>

    <div class="container">
      <div class="row justify-content-center">

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Account Type</mat-label>
            <mat-select   placeholder="Select account type" formControlName="accountType">
              <mat-option value="saving">Saving</mat-option>
              <mat-option value="current">Current</mat-option>
              <mat-option value="recurring deposit">Recurring Deposit</mat-option>
              <mat-option value="fixed deposit ">Fixed Deposit</mat-option>
              <mat-option value="demat ">DEMAT</mat-option>
              <mat-option value="nri ">NRI</mat-option>
            </mat-select>
            <mat-error *ngIf="customerAccountForm.controls['accountType'].errors?.['required']">
              Account type is required.
              </mat-error>     
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Currency</mat-label>
              <mat-select   placeholder="Select your currency" formControlName="currency">
                <mat-option value="npr">NPR</mat-option>
                </mat-select>
              <mat-error *ngIf="customerAccountForm.controls['currency'].errors?.['required']">
              Currency is required.
                </mat-error>     
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Current Balance</mat-label>
    <input matInput  type="number" placeholder="Enter your current balance" min="1000" max="1000000000" formControlName="currentBalance" >       
      <mat-error *ngIf="customerAccountForm.controls['currentBalance'].errors?.['required']">    
        Current balance is required.
      </mat-error>
      <mat-error *ngIf="customerAccountForm.controls['currentBalance'].errors?.['min']">    
        Enter balance more than 1000.
      </mat-error> <mat-error *ngIf="customerAccountForm.controls['currentBalance'].errors?.['max']">    
        Enter balance less than 1000000000.
      </mat-error>
  </mat-form-field>
</div>

      
    <div class="col-lg-12  text-end ">
      <button class="btn  text-white mb-3 mt-3 " type="submit">Submit</button>
      <!--[disabled]="!customerForm.valid"-->
  </div>
  </div>
  </form>

</div>