<form [formGroup]="customerUpdateForm"  (ngSubmit)="onUpdate(customerId)">
  <h2 mat-dialog-title class="form-title text-center bg-success text-white ">Update Customer</h2>
  <mat-dialog-content   > 
   
    <div class="container">
          <div class="row  mb-2 ">
            <h4 class="section-title ">Personal Details</h4>
            <mat-form-field class="form-field col-sm-4" appearance="outline" mat-danger>
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Enter your name" formControlName="name">
              <mat-error *ngIf="customerUpdateForm.controls['name'].errors?.['required']">
                Name is required.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="MM/DD/YYYY" (click)="picker.open()"
                formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="customerUpdateForm.controls['dob'].errors?.['required']">
                Date of birth is required.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select placeholder="Select your gender" formControlName="gender">
                <mat-option value="male ">Male</mat-option>
                <mat-option value="female ">Female</mat-option>
                <mat-option value="other ">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['gender'].errors?.['required']">
                Gender is required.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="tel" formControlName="phone">
              <mat-error *ngIf="customerUpdateForm.controls['phone'].errors?.['required']">
                Phone number is required.
              </mat-error>
              <mat-error *ngIf="customerUpdateForm.controls['phone'].errors?.['pattern']">
                Phone number is invalid.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Enter your email" formControlName="email">
              <mat-error *ngIf="customerUpdateForm.controls['email'].errors?.['required']">
                Email is required.
              </mat-error>
              <mat-error *ngIf="customerUpdateForm.controls['email'].errors?.['pattern']">
                Email is invalid.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select placeholder="Select your nationality" formControlName="nationality">
                <mat-option value="nepali ">Nepali</mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['nationality'].errors?.['required']">
                Nationality is required.
              </mat-error>
            </mat-form-field>
    <!--
            <mat-form-field class="form-field col-sm-4" appearance="outline" (click)="fileProfileInput.click()">
    
              <mat-label *ngIf="customerUpdateForm  ;  else profileImgFile">{{selectedProfileImg.item(0).name}}</mat-label>
              <ng-template #profileImgFile>
                <mat-label>Choose Profile Image</mat-label>
              </ng-template>
              <input matInput disabled>
              <button type="button" mat-icon-button matSuffix >
                <mat-icon>attach_file</mat-icon>
              </button>
              <input hidden (change)="selectProfileImg($event)" #fileProfileInput type="file" matSuffix
                (click)="fileProfileInput.click()">
    
              <mat-error *ngIf="customerUpdateForm.controls['profileImageName'].errors?.['required']">
                Profile image is required.
              </mat-error>
            </mat-form-field>
          -->
          </div>
          <div class="row mb-2">
            <h4 class="section-title ">Family Details</h4>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Father Name</mat-label>
              <input matInput type="text" placeholder="Enter your fatherName" formControlName="fatherName">
              <mat-error *ngIf="customerUpdateForm.controls['fatherName'].errors?.['required']">
                Father name is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Mother Name</mat-label>
              <input matInput type="text" placeholder="Enter your motherName" formControlName="motherName">
              <mat-error *ngIf="customerUpdateForm.controls['motherName'].errors?.['required']">
                Mother name is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Grand-Father Name</mat-label>
              <input matInput type="text" placeholder="Enter your grandFatherName" formControlName="grandFatherName">
              <mat-error *ngIf="customerUpdateForm.controls['grandFatherName'].errors?.['required']">
                Grand father is required.
              </mat-error>
            </mat-form-field>
          </div>
    
    
          <div class="row mb-2">
            <h4 class="section-title ">Permanent Address</h4>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="permanentCountryId" (selectionChange)="onChangePermanentCountry($event.value)">
                <mat-option *ngFor="let country of permanentCountries " [value]="country.id">{{country.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['permanentCountryId'].errors?.['required']">
                Country is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="permanentStatesId" (selectionChange)="onChangePermanentState($event.value)">
                <mat-option *ngFor="let state of permanentStates;" [value]="state.id">{{state.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['permanentStatesId'].errors?.['required']">
                State is required.
              </mat-error> </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>District </mat-label>
              <mat-select formControlName="permanentDistrictsId"
                (selectionChange)="onChangePermanentDistrict($event.value)">
                <mat-option *ngFor="let district of permanentDistricts;" [value]="district.id">{{district.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['permanentDistrictsId'].errors?.['required']">
                District is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Municipality </mat-label>
              <mat-select formControlName="permanentMunicipalitiesId">
                <mat-option *ngFor="let municipality of permanentMunicipalities;" [value]="municipality.id">
                  {{municipality.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['permanentMunicipalitiesId'].errors?.['required']">
                Municipality is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <h4 class="section-title   ">Temporary Address </h4>
           <p class="text-info fst-italic fw-normal" > <input type="checkbox" [checked]="sameAsPermanntCheckBox"  (change)="onChangePermanentAddress($event)" /> same as above</p>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="temporaryCountryId" (selectionChange)="onChangeTemporaryCountry($event.value)">
                <mat-option *ngFor="let country of temporaryCountries " [value]="country.id">{{country.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['temporaryCountryId'].errors?.['required']">
                Country is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="temporaryStatesId" (selectionChange)="onChangeTemporaryState($event.value)">
                <mat-option *ngFor="let state of temporaryStates;" [value]="state.id">{{state.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['temporaryStatesId'].errors?.['required']">
                State is required.
              </mat-error> </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>District </mat-label>
              <mat-select formControlName="temporaryDistrictsId"
                (selectionChange)="onChangeTemporaryDistrict($event.value)">
                <mat-option *ngFor="let district of temporaryDistricts;" [value]="district.id">{{district.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['temporaryDistrictsId'].errors?.['required']">
                District is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Municipality </mat-label>
              <mat-select formControlName="temporaryMunicipalitiesId">
                <mat-option *ngFor="let municipality of temporaryMunicipalities;" [value]="municipality.id">
                  {{municipality.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['temporaryMunicipalitiesId'].errors?.['required']">
                Municipality is required.
              </mat-error>
            </mat-form-field>
          </div>
      
                    <h4 class="section-title">Identification Details</h4>       
                    <mat-form-field class="form-field " appearance="outline"  >
                      <mat-label>Document</mat-label>
                      <mat-select  placeholder="Select your document" value="selectedDocument"   formControlName="documentType" (selectionChange)="onDocumentChange($event.value)" >
                        <mat-option  value="citizenship"  >Citizenship</mat-option>
                        <mat-option  value="passport"  >Passport</mat-option>
  
                      </mat-select>
                      <mat-error *ngIf="customerUpdateForm.controls['documentType'].errors?.['required']">
                        One document is required.
                      </mat-error>
                    </mat-form-field>
                <div *ngIf="showCitizenshipFields" class="row">
                    <mat-form-field class="form-field  col-sm-4" appearance="outline">
                      <mat-label>Citizenship Number</mat-label>
                      <input matInput type="text" placeholder="Enter your citizenshipNumber" formControlName="citizenshipNumber">
                      <mat-error *ngIf="customerUpdateForm.controls['citizenshipNumber'].errors?.['required']">
                        Citizenship number is required.
                      </mat-error>
                    </mat-form-field>
                    <!--
                    <mat-form-field class="form-field  col-sm-4" appearance="outline" (click)="fileFrontInput.click()">
                      <mat-label *ngIf="selectedCitizenshipFrontImg; else frontImgFile">
                        {{selectedCitizenshipFrontImg.item(0).name}}
                      </mat-label>
                      <ng-template #frontImgFile>
                        <mat-label>Choose Front Image</mat-label>
                      </ng-template>
                      <input matInput disabled>
                      <button type="button" mat-icon-button matSuffix >
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <input hidden (change)="selectCitizenshipFrontImg($event)" #fileFrontInput type="file">
                      <mat-error *ngIf="customerUpdateForm.controls['citizenshipFrontImageName'].errors?.['required']">
                        Front image is required.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field col-sm-4" appearance="outline" (click)="fileBackInput.click()">
                      <mat-label *ngIf="selectedCitizenshipBackImg; else backImgFile">
                        {{selectedCitizenshipBackImg.item(0).name}}
                      </mat-label>
                      <ng-template #backImgFile>
                        <mat-label>Choose Back Image</mat-label>
                      </ng-template>
                      <input matInput disabled>
                      <button type="button" mat-icon-button matSuffix >
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <input hidden (change)="selectCitizenshipBackImg($event)" #fileBackInput type="file">
                      <mat-error *ngIf="customerUpdateForm.controls['citizenshipBackImageName'].errors?.['required']">
                        Back image is required.
                      </mat-error>
                    </mat-form-field>
                  -->
                  </div>
                <div *ngIf="showPassportFields" class="row">
    
                    <mat-form-field class="form-field col-sm-4" appearance="outline">
                    <mat-label>Passport Number</mat-label>
                    <input matInput type="text" placeholder="Enter your passportNumber" formControlName="passportNumber">
                    <mat-error *ngIf="customerUpdateForm.controls['passportNumber'].errors?.['required']">
                      Passport number is required.
                    </mat-error>
                  </mat-form-field>
                  <!--
                  <mat-form-field class="form-field col-sm-4" appearance="outline" (click)="filePassportInput.click()">
                    <mat-label
                      *ngIf="selectedPassportImg; else passportImgFile">{{selectedPassportImg.item(0).name}}</mat-label>
                    <ng-template #passportImgFile>
                      <mat-label>Choose Passport Image</mat-label>
                    </ng-template>
                    <input matInput disabled>
                    <button type="button" mat-icon-button matSuffix>
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input hidden (change)="selectPassportImg($event)" #filePassportInput type="file">
                    <mat-error *ngIf="customerUpdateForm.controls['passportImageName'].errors?.['required']">
                      Passport image is required.
                    </mat-error>
                  </mat-form-field>
                -->
                </div>
    
    
          <div class="row mb-2">
            <h4 class="section-title ">Bank Information</h4>
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Branch</mat-label>
              <mat-select placeholder="Select your branch" formControlName="branch" (selectionChange)="onBranchChange($event.value)">
                <mat-option value="branch1">Shankhamul</mat-option>
                <mat-option value="branch2">Baneshwor</mat-option>
                <mat-option value="branch3">Chabel</mat-option>
              </mat-select>
              <mat-error *ngIf="customerUpdateForm.controls['branch'].errors?.['required']">
                Branch is required.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="form-field col-sm-4" appearance="outline">
              <mat-label>Branch Code</mat-label>
              <input matInput type="text" placeholder="Enter your branchCode" formControlName="branchCode" >
              <mat-error *ngIf="customerUpdateForm.controls['branchCode'].errors?.['required']">
                Branch code is required.
              </mat-error>
            </mat-form-field>
          </div>
         
          </div>
         
  </mat-dialog-content >
  
  <mat-dialog-actions class=" container justify-content-end border border-1  " style="bottom:0; max-width: 98%;z-index: 1000;">
    <button mat-raised-button class="bg-danger text-white" mat-dialog-close>Cancle</button>
    <button mat-raised-button  type="submit" class="mat-submit-button text-white " color="primary"  style="margin-right: 1rem;">Update</button>
  </mat-dialog-actions> 
  </form>

