

<div class="card-body">
  <mat-progress-bar mode="indeterminate" *ngIf="isCompleted"></mat-progress-bar>

  <h2 class="bg-success text-white text-center mb-0">Update Customer</h2>

  <form [formGroup]="customerUpdateForm" (ngSubmit)="onUpdate(customerId)" >
    <div class="col-lg-12">
      <h4 class="fw-bold ms-2 mt-2 mb-2">Basic Information</h4>


      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">             
      <mat-label>Name</mat-label>
      <input matInput  type="text" placeholder="Enter your name" formControlName="name" >
         
        <mat-error *ngIf="customerUpdateForm.controls['name'].errors?.['required']">    
                  Name is required.
        </mat-error>

    </mat-form-field>
         <mat-form-field class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="dob">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="customerUpdateForm.controls['dob'].errors?.['required']">
          Date of birth is required.
          </mat-error>



            
      </mat-form-field>



              <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Gender</mat-label>
          <mat-select   placeholder="Select your gender" formControlName="gender">
            <mat-option value="male ">Male</mat-option>
            <mat-option value="female ">Female</mat-option>
            <mat-option value="other ">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['gender'].errors?.['required']">
            Gender is required.
            </mat-error>       

      </mat-form-field>
      <mat-form-field class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Phone Number</mat-label>
      <input matInput type="tel" placeholder="Enter your phone" formControlName="phone">
          <mat-error *ngIf="customerUpdateForm.controls['phone'].errors?.['required']">
          Phone number is required.
          </mat-error>
        <mat-error *ngIf="customerUpdateForm.controls['phone'].errors?.['pattern']">
          Phone number is invalid.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="customerUpdateForm.controls['email'].errors?.['required']">
          Email is required.
          </mat-error>
        <mat-error *ngIf="customerUpdateForm.controls['email'].errors?.['pattern']">
          Email is invalid.
        </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Nationality</mat-label>
      <mat-select   placeholder="Select your nationality" formControlName="nationality">
        <mat-option value="nepali ">Nepali</mat-option>
      </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['nationality'].errors?.['required']">
          Nationality is required.
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Father Name</mat-label>
      <input matInput type="text" placeholder="Enter your fatherName" formControlName="fatherName">
          <mat-error *ngIf="customerUpdateForm.controls['fatherName'].errors?.['required']">
          Father name is required.
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Mother Name</mat-label>
      <input matInput type="text" placeholder="Enter your motherName" formControlName="motherName">
          <mat-error *ngIf="customerUpdateForm.controls['motherName'].errors?.['required']">
          Mother name is required.
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Grand-Father Name</mat-label>
                  <input matInput type="text" placeholder="Enter your grandFatherName" formControlName="grandFatherName">
          <mat-error *ngIf="customerUpdateForm.controls['grandFatherName'].errors?.['required']">
          Grand father is required.
          </mat-error>
      </mat-form-field>
    </div>
<div  class="col-lg-12">
      <h4 class="fw-bold ms-2 mt-2 mb-2">Permanent Address</h4>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="permanentCountryId" (selectionChange)="onChangePermanentCountry($event.value)">
              <mat-option *ngFor="let country of permanentCountries " [value]="country.id">{{country.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['permanentCountryId'].errors?.['required']">
            Country is required.
            </mat-error>      
            </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="permanentStatesId"   (selectionChange)="onChangePermanentState($event.value)">
              <mat-option *ngFor="let state of permanentStates;" [value]="state.id">{{state.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['permanentStatesId'].errors?.['required']">
            State is required.
            </mat-error>           </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>District </mat-label>
          <mat-select formControlName="permanentDistrictsId"  (selectionChange)="onChangePermanentDistrict($event.value)">
              <mat-option *ngFor="let district of permanentDistricts;" [value]="district.id">{{district.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['permanentDistrictsId'].errors?.['required']">
            District is required.
            </mat-error>    
                  </mat-form-field>    
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>Municipality </mat-label>
          <mat-select formControlName="permanentMunicipalitiesId" >
              <mat-option *ngFor="let municipality of permanentMunicipalities;" [value]="municipality.id">
                  {{municipality.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['permanentMunicipalitiesId'].errors?.['required']">
            Municipality is required.
            </mat-error>   
      </mat-form-field>
      </div>
<div class="col-lg-12" >
<h4 class="fw-bold ms-2 mt-2 mb-2">Temporary Address</h4>
<mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="temporaryCountryId" (selectionChange)="onChangeTemporaryCountry($event.value)">
              <mat-option *ngFor="let country of temporaryCountries " [value]="country.id">{{country.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['temporaryCountryId'].errors?.['required']">
            Country is required.
            </mat-error>      
            </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="temporaryStatesId"   (selectionChange)="onChangeTemporaryState($event.value)">
              <mat-option *ngFor="let state of temporaryStates;" [value]="state.id">{{state.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['temporaryStatesId'].errors?.['required']">
            State is required.
            </mat-error>           </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>District </mat-label>
          <mat-select formControlName="temporaryDistrictsId"  (selectionChange)="onChangeTemporaryDistrict($event.value)">
              <mat-option *ngFor="let district of temporaryDistricts;" [value]="district.id">{{district.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['temporaryDistrictsId'].errors?.['required']">
            District is required.
            </mat-error>    
                  </mat-form-field>    
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">
          <mat-label>Municipality </mat-label>
          <mat-select formControlName="temporaryMunicipalitiesId" >
              <mat-option *ngFor="let municipality of temporaryMunicipalities;" [value]="municipality.id">
                  {{municipality.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['temporaryMunicipalitiesId'].errors?.['required']">
            Municipality is required.
            </mat-error>   
      </mat-form-field>
</div>




    <div  class="col-lg-12">
      <h4 class="fw-bold ms-2 mt-2 mb-2">Customer Verification</h4>

      <mat-form-field   class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Citizanship Number</mat-label>
      <input matInput type="text" placeholder="Enter your citizenshipNumber" formControlName="citizenshipNumber">
          <mat-error *ngIf="customerUpdateForm.controls['citizenshipNumber'].errors?.['required']">
          Citizenship number is required.
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Passport Number</mat-label>
      <input matInput type="text" placeholder="Enter your passportNumber" formControlName="passportNumber">        
      </mat-form-field>
     



</div>
<div  class="col-lg-12">
<h4 class="fw-bold ms-2 mt-2 mb-2">Bank Information</h4>


      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Branch</mat-label>
      <mat-select   placeholder="Select your branch" formControlName="branch">
        <mat-option value="branch1 ">branch1</mat-option>
        <mat-option value="branch3 ">branch3</mat-option>
        <mat-option value="branch4 ">branch4</mat-option>
        <mat-option value="branch5 ">branch5</mat-option>
        <mat-option value="branch6 ">branch6</mat-option>
        <mat-option value="branch7 ">branch7</mat-option>
        <mat-option value="branch8 ">branch8</mat-option>

      </mat-select>
          <mat-error *ngIf="customerUpdateForm.controls['branch'].errors?.['required']">
          Branch is required.
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="ms-2 mt-2 me-2" appearance="outline">           
        <mat-label>Branch Code</mat-label>
      <input matInput type="text" placeholder="Enter your branchCode" formControlName="branchCode">
          <mat-error *ngIf="customerUpdateForm.controls['branchCode'].errors?.['required']">
          Branch code is required.
          </mat-error>
      </mat-form-field>
</div>
<div  class="col-lg-12  text-end ">
      <button class="btn  btn-primary me-5 mb-3 mt-3 " type="submit" >Update</button>  <!--[disabled]="!customerForm.valid"-->
      </div>
  </form>     

</div>
