<div  *ngIf="activatedRoute.children.length === 0" class="container mb-3">
    <button class="bg-warning rounded d-inline me-3"><a class="text-decoration-none fs-6 text-white" routerLink="/add-customer">Add Customer</a></button>
       
            <div class=" justify-content-center d-inline"  >
            <input type="text"  name="accountNumber" placeholder="Enter account number"[(ngModel)]="accountNumber" reuqired style="width: 15rem; height:2rem;">
            <button type="button" class="bg-danger text-white  rounded" (click)="redirectByAccNum()" style="width: 5rem;">Search</button>   
        </div>
        <div class=" justify-content-center d-inline"  >
            <input type="text"  name="cifId" placeholder="Enter customer info id"[(ngModel)]="cifId" reuqired style="width: 15rem; height:2rem;">
            <button type="button" class="bg-danger text-white  rounded" (click)="redirectByCifId()" style="width: 5rem;">Search</button>   
        </div>

    </div>