<mat-card  class="container mt-0 pt-0 " *ngIf="customer">
    <div class="row">
      <mat-card-title  class="row bg-danger  text-white text-center fs-3 p-1"> Customer Details</mat-card-title>
    </div>
      <div class="row mt-2 ">
        <div class="col-sm-6  ">
          <div class="d-flex">
      <h2 class="fw-bold me-1" style="color:darkblue">Details of : </h2><h2 class="text-danger fw-bold"> {{customer.name}}</h2>
    </div>
      <div class="d-flex">
  <span class="fw-bold  me-1" >Customer Id :</span><span >{{customer.customerId}}</span>
      </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >Customer Information Id : </p><p>{{customer.cifId}}</p>
  </div>
        </div>
  <div class="col-sm-6 text-end">
  
          <img  class="image rounded-circle" src="http://localhost:8080{{customer.profileImagePath}}"
            style="height: 5rem; width: 5rem;"  (click)="showFullImage(customer.profileImagePath)">
            <p>Profile Picture</p>
  
  </div>
      </div>
  <mat-divider></mat-divider>
    <mat-card-content >
      <div class="row">
    <div class="col-sm-6 mb-3">
        <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Personal Details</h3>
  <div class="d-flex">
  <p class="fw-bold me-1" >Name :</p><p>{{customer.name}}</p>
  </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >Date of Birth :</p><p>{{customer.dob}}</p>
  </div>
  <div class="d-flex">
    <p class="fw-bold me-1" >Gender :</p><p>{{customer.gender}}</p>
    </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >Nationality  </p><p>{{customer.nationality}}</p>
  </div>
  <div class="d-flex">
    <p class="fw-bold me-1" >Phone Number  </p><p>{{customer.phone}}</p>
    </div>
    <div class="d-flex">
      <p class="fw-bold me-1" >Email Address  </p><p>{{customer.email}}</p>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Family Details</h3>
  <div class="d-flex">
  <p class="fw-bold me-1" >Father Name :</p><p>{{customer.fatherName}}</p>
  </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >Mother Name :</p><p>{{customer.motherName}}</p>
  </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >Grand-Father Name :</p><p>{{customer.grandFatherName}}</p>
  </div>
  </div>
  <div class="col-sm-6 mb-3">
    <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Permanent Address</h3>
  <div class="d-flex">
  <p class="fw-bold me-1" >Country :</p><p>{{customer.permanentAddress.country.name}}</p>
  </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >State :</p><p>{{customer.permanentAddress.states.name}}</p>
  </div>
  <div class="d-flex">
  <p class="fw-bold me-1" >District :</p><p>{{customer.permanentAddress.districts.name}}</p>
  </div>
  <div class="d-flex">
    <p class="fw-bold me-1" >Municipality Name :</p><p>{{customer.permanentAddress.municipalities.name}}</p>
    </div>
    <div class="d-flex">
      <p class="fw-bold me-1" >Municipality Type :</p><p>{{customer.permanentAddress.municipalities.type}}</p>
      </div>
  </div>
  <div class="col-sm-6 mb-3">
    <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Temporary Address</h3>
    <div class="d-flex">
      <p class="fw-bold me-1" >Country :</p><p>{{customer.temporaryAddress.country.name}}</p>
      </div>
      <div class="d-flex">
      <p class="fw-bold me-1" >State :</p><p>{{customer.temporaryAddress.states.name}}</p>
      </div>
      <div class="d-flex">
      <p class="fw-bold me-1" >District :</p><p>{{customer.temporaryAddress.districts.name}}</p>
      </div>
      <div class="d-flex">
        <p class="fw-bold me-1" >Municipality Name :</p><p>{{customer.temporaryAddress.municipalities.name}}</p>
        </div>
        <div class="d-flex">
          <p class="fw-bold me-1" >Municipality Type :</p><p>{{customer.temporaryAddress.municipalities.type}}</p>
          </div>
  </div>
  <div class="row mb-3" *ngIf="customer.documentType=='citizenship'">
    <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Documents</h3>
    <div class="d-flex  ">
      <p class="fw-bold me-1" >Provided document type :</p><p>{{customer.documentType}}</p>
      </div> 
       <div class="d-flex ">
      <p class="fw-bold me-1" >Citizanship Number :</p><p>{{customer.citizenshipNumber}}</p>
      </div>
      <div  class=" col-sm-3" >
        <img class="image" src="http://localhost:8080{{customer.citizenshipFrontImagePath}}"
          style="height: 5rem; width: 5rem;"  (click)="showFullImage(customer.citizenshipFrontImagePath)">
          <p class="col-sm-3 text-center">Front Image</p>
  </div>
  <div  class=" col-sm-3">
  
    <img class="image" src="http://localhost:8080{{customer.citizenshipBackImagePath}}"
      style="height: 5rem; width: 5rem;"  (click)="showFullImage(customer.citizenshipBackImagePath)">
      <p class="col-sm-3 text-center">Back Image</p>
  
  </div>
     
  </div>
  <div class="col-sm-6 mb-3"  *ngIf="customer.documentType=='passport'">
    <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Documents</h3>
    <div class="d-flex ">
      <p class="fw-bold me-1" >Provided document type :</p><p>{{customer.documentType}}</p>
      </div> 
       <div class="d-flex ">
      <p class="fw-bold me-1" >Passport Number :</p><p>{{customer.passportNumber}}</p>
      </div>
      <div class=" col-sm-3">
  
        <img class="image" src="http://localhost:8080{{customer.passportImagePath}}"
          style="height: 5rem; width: 5rem;"  (click)="showFullImage(customer.passportImagePath)">
          <p>Passport Image</p>
  </div>   
  </div>
  <div class="col-sm-12 mb-3">
    <h3 class="fw-bold me-1 mb-1 " style="color:darkblue">Bank Information</h3>
  <div class=" d-flex ">
  <p class="fw-bold me-1" >Branch Name :</p><p>{{customer.branch}}</p>
  </div>
  <div class=" d-flex ">
  <p class="fw-bold me-1" >Branch Code :</p><p>{{customer.branchCode}}</p>
  </div>
  </div>
</div>
  <div class="row mb-3">
    <h3 class="fw-bold me-1 mb-1" style="color:darkblue">Account Opened ({{customerAccounts.length}})</h3>
<div  *ngFor="let customerAccount of customerAccounts;" class="mb-3 col-sm-4">
  <div class="d-flex">
    <h4 class="bg-primary text-white fw-bold p-1 rounded ">{{customerAccounts.indexOf(customerAccount)+1}}</h4>
    </div>
    <div class="d-flex">
        <p class="fw-bold me-1" >Account Number :</p><p>{{customerAccount.accountNumber}}</p>
        </div>
        <div class="d-flex">
            <p class="fw-bold me-1" >Type :</p><p>{{customerAccount.accountType}}</p>
            </div><div class="d-flex">
                <p class="fw-bold me-1" >Currency :</p><p>{{customerAccount.currency}}</p>
                </div><div class="d-flex">
                    <p class="fw-bold me-1" >Balance :</p><p>{{customerAccount.currentBalance}}</p>
                    </div>
                        <div class="d-flex">
                            <p class="fw-bold me-1" >Account open Date :</p><p>{{customerAccount.accountOpenDate}}</p>
                            </div><div class="d-flex">
                                <p class="fw-bold me-1" >Account Updated Date :</p><p>{{customerAccount.accountUpdatedDate}}</p>
                                </div>
</div>
                                <mat-label *ngIf="customerAccounts.length<=0" class="text-danger bg-warning">You have not any account created yet.</mat-label>

</div> 
    </mat-card-content>  
  </mat-card>
  


