.card-body{
    background-color: white ;

}
.form-title {
    color:darkred;

}
.section-title{
    font-weight: bold;
    color: darkblue;
}
.form-field{
    margin-right:1.5rem;
    margin-bottom: 0.5rem;
width: 13rem;
border-radius: 0.5rem;

}


.btn{
    background-color: darkblue;
}